# COnfiguration for our custom widget
<connectiontype>
      connectiontype {{ conn }}
</connectiontype>

<accountinformation>
       account {{ acc }}
</accountinformation>

<distribution>
       dist {{ dist }}
</distribution>
