# Configuration for custom wigget

<Connictivity>
   ConnectionType {{ connectionType }}
</Connictivity>

<Account Information>
   Username {{ userName }}
   Password {{ userPassword }}
</Account Information>

<System Information>
   DistributionType {{ ansible_os_family }}
</System Information>
